
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.App {
  font-family: 'Raleway',  sans-serif;
}

.nav{
  box-sizing: border-box;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.5s ease-in-out;
}

.navLinks a:hover{
  letter-spacing: 1px;
}